*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Header and Banner Section */

.banner{
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 0 10%;
}

.banner-image-container{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    width: 50%;
}

.banner-image{
    height: 80%;
    max-width: 100%;
}

.banner-text{
    width: 50%;
}

.banner-title{
    color: #272727;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 26px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 26px;
}

.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 40px;
}