*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Header and Banner Section */

.banner{
    background: rgba(229, 84, 115, 0.10);
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 0 10%;
}

.banner-image-container{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    width: 50%;
}

.banner-image{
    height: 90%;
    max-width: 100%;
}

.banner-text{
    width: 50%;
}

.banner-title{
    color: #272727;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 26px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 26px;
}

.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 40px;
}

.primary-btn:hover{
    background: #c81f43;
}

/* Navbar for Bonus starts */

nav{
    height: 10vh;
    background-color: #E55473;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 0px 10%;
}

.nav-logo>img{
    width: 170px;
}

.nav-items{
    list-style:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

a:hover{
    color: #c81f43;
}

/* Featured Section starts */

.min-width-sections{
    width: 80%;
    margin: 0px auto;
    padding: 100px 0;
}

.featured-container{
    text-align: center;
}

.sections-titles{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 32px;
}

.sections-descriptions{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.featured-items-container{
    display: flex;
    justify-content: space-between;
}

.featured-images{
    max-height: 300px;
}

.featured-items{
    width: 31%;
    height: 340px;
}

.featured-image-container{
    border-radius: 300px 300px 0px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.fimg1{
    background: rgba(167, 33, 98, 0.15);
}

.fimg2{
    background: rgba(5, 151, 160, 0.15);
    align-items: center;
}

.fimg3{
    background: rgba(71, 125, 17, 0.15);
}

.featured-items-names{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding: 32px;
}


/* Collection Section starts */

.products-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 40px;
}

.card{
    background-color: #FFF;
    border-radius: 8px;
}

.card:hover{
    box-shadow: #43424265 1px 1px;
    background-color: rgba(229, 84, 115, 0.10);
}

.card-img{
    width: 100%;
}

.card-text{
    display: flex;
    justify-content: space-between;
    align-self: center;
    color:#272727;
}

.card-text>h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    padding: 10px;
}

.add-to-cart{
    color: #E55473;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border:solid #E55473 1px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 4px 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.add-to-cart:hover{
    color: #FFF;
    background-color: #E55473;
}

/* Our Features starts */

.our-features{
    height: 320px;
    width: 100%;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.features-text{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* Hot deal section starts */

.hot-deal-container{
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

span{
    color: #E55473;
}

.hot-deal-image-container{
    text-align: center;
}

/* Instagram Section starts */

.instagram-section{
    text-align: center;
}

.instagram-images-container{
    display: flex;
    justify-content: space-between;
}

.instagram-images{
    width: 24%;
    height: 100%;
}

.instagram-images>img{
    width: 100%;
    height: auto;
}

/* Latest Deals section starts */


.latest-deals-section-container{
    text-align: center;
    height: 380px;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-deals-text-container{
    width: 100%;
}

.latest-deals-form{
    display: flex;
    justify-content: center;
    gap: 15px;
}

input{
    border: none;
    border-radius: 8px;
    width: 45%;
    padding: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

/* Footer Section starts */

.footer-logo{
    width: 200px;
}

footer{
    height: 400px;
    text-align: center;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}