*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Header and Banner Section */

.banner{
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 0 10%;
}

.banner-image-container{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    width: 50%;
}

.banner-image{
    height: 90%;
    max-width: 100%;
}

.banner-text{
    width: 50%;
}

.banner-title{
    color: #272727;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 26px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 26px;
}

.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 40px;
}


/* Featured Section */

.min-width-sections{
    width: 80%;
    margin: 100px auto;
}

.featured-container{
    text-align: center;
}

.sections-titles{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sections-descriptions{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-items-container{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.featured-items{
    width: 31%;
}

.featured-image-container{
    border-radius: 300px 300px 0px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.fimg1{
    background: rgba(167, 33, 98, 0.15);
}

.fimg2{
    background: rgba(5, 151, 160, 0.15);
    align-items: center;
}

.fimg3{
    background: rgba(71, 125, 17, 0.15);
}

.featured-items-names{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}